#games .card {
    height: 400px;
}

#games .card-header {
    height: 80%;
    padding: 0;
}

#games img {
    height: 100%;
    object-fit: contain;
}

#logo img {
    max-width: 50%;
    max-height: 50%;

}

.container {
    max-width: none !important;
}