#games .card {
    margin-bottom: 20px;
}

#games .card-header {
    height: 80%;
    padding: 0;
}

#logo img {
    max-width: 50%;
    max-height: 50%;

}

.container {
    max-width: none !important;
}

html, body {
    height: 100%;
}

#no-games {
    text-align: center;
}

.card-img-top {
    cursor: pointer;
}

#steam-accordion {
    margin-top: 20px;
}

.sidebar {
    max-height: 700px;
    overflow: auto;
    position: fixed;
}